#arrow{
    width: 10px; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid white;
    position:fixed;
    right:0;
    top:45%;
    cursor:pointer;
    visibility: hidden;
    opacity:0;
}


#leftarrow{
        width: 10px; 
        height: 0; 
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-right: 20px solid white;
        position:fixed;
        left:14vw;
        top:45%;
        cursor:pointer;
}