html, body{
    margin:0;
    padding:0;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    height:100%;
    width:100%;
    border:0 none;
    background-image:url("../images/principal.jpg");
    background-image:center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    background-position: center center;
}

/*Secção do menu da esquerda*/
ul#menu{
    width:15%;
    list-style-type: none;
    margin:0;
    padding:0;
    text-align:center;
    height:100%;
    position:fixed;
     z-index:3;
}

#menu li{
    text-align:center;
    height:34%;
    box-sizing: border-box;
    border-bottom: 0px;
    display:flex;
    justify-content:center;
    align-items:center;
}

#menu li a{
    background-image:linear-gradient(to left top,#003cb3, rgb(102, 153, 255,1), rgba(34,139,34,0.2));
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
    border-radius:50px;
    width:80%;
    height:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    text-decoration:none;
    font-size:2.5vw;
    transition: text-shadow 0.7s;
}

#menu li a:hover{
    text-shadow: 0 0 10px black;
    box-shadow: 0px 0px 0px 0px;
    cursor:pointer;
}
/*Secção do menu da esquerda*/

/*Secção do footer*/
div#footer{
    position:fixed;
    font-size:1vw;
    right:0;
    bottom:0;
    color:white;
}
/*Secção do footer*/

div.mainmenu{
    margin:0;
    padding:0;
    height:100%;
    margin-left:15%;
    color:white;
    display:flex;
    flex-direction:column;
    align-items: center;
}

/*header para o tele*/
#littlemenu, #menu_btn, #hamburger{
    display:none;
}



@media screen and (max-device-width: 650px) { 
    ul#menu{
        margin-top:40px;
        height:15%;
        width:15%; 
        visibility:hidden;
        opacity:0;
        transition: visibility 0.5s, opacity 0.5s linear;
        background-image:none;
    }

    #menu li{
        background-color: transparent;
    }

    #menu li a{
        border-radius:0;
        height:100%;
        margin-top:20px;
        
    }

    .mainmenu div:first-child{
        margin-top:150px;
    }

    div.mainmenu{
        margin-left:0%;
    }
 
    #littlemenu{
        display:flex;
        justify-content:center;
        left:0;
        top:0;
        width:5%;
        height:4.5%;
        position:fixed;
    }

    #menu_btn{
        display:none;
        position:fixed;
    }

   #hamburger{
       display:block;
       z-index:3;
       color:black;
       position:fixed;
       margin-top:19px;
       margin-left:15px;
   }

   #menu_btn:checked ~ ul#menu{
        visibility: visible;
        opacity:1;
   }

    #navbar #hamburger #hamburger-icon{
        background:black;
        display:block;
        height:3px;
        width:18px;
        position:relative;
        transition:background .2s ease-out;
    }

    #navbar #hamburger #hamburger-icon:after{
        background:black;
        content:"";
        display:block;
        height:100%;
        width:100%;
        position:absolute;
        transition: all .2s ease-out;
        top:-5.5px;

    }

    #navbar #hamburger #hamburger-icon:before{
        background:black;
        content:"";
        display:block;
        height:100%;
        width:100%;
        position:absolute;
        transition: all .2s ease-out;
        top:6px;
    }

    #menu_btn:checked ~ #hamburger #hamburger-icon{
        background:transparent;
    }

    #menu_btn:checked ~ #hamburger #hamburger-icon:before{
        transform:rotate(-45deg);
        top:0;
    }

    #menu_btn:checked ~ #hamburger #hamburger-icon:after{
        transform:rotate(45deg);
        top:0;
    }

}
/*header para o tele*/
