a{
    text-decoration: none;
    color:white;
}

#stop{
    position:relative;
    bottom:0;
    font-size:2rem;
    padding-right:250px;
}

#stop:hover{
    font-weight:bold;
}

img{
    display:block;
}

#top10{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows:repeat(2,1fr);
    column-gap:3px;
}

#top10 div{
    margin-top:2vw;
    display:flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
}

#apoiar, #incentivar{
    padding-top:20px;
}

#top10 div{
    padding:20px;
}

#top10 div:nth-of-type(odd){
    box-shadow: 0 0 5px rgba(0,0,0,0.6); 
    border-radius:10px;
    color:black;
    background-color: rgb(224, 224, 224);
}

#top10 div:nth-of-type(odd) a{
    color:black;
    font-weight:bold;
}

#top10 div:nth-of-type(even){
    box-shadow: 0 0 10px rgba(0,0,0,0.6); 
    border-radius:10px;
    color:black;
    background-color: rgb(97, 97, 97);
}

#top10 div:nth-of-type(even) h1{
    color:white;
}

#china{
    margin-top:40px;
    font-weight:bold;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.6); 
    color:black;
    background-color: rgb(224, 224, 224);
}

#title{
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.6); 
    color:black;
    background-color: rgb(224, 224, 224);
    margin-right:10px;
}

#title h1{
    margin-bottom:60px;
    text-align:center;
    color:black;
}

#title-text{
    color:black;
}

@media screen and (max-width:1100px){
    #top10{
        display:flex;
        flex-direction:column;
    }
}