
div.mainmenu{
    align-items:flex-start;
}

.mainmenu div {
    width:90%;
}

img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

a{
    transition:text-shadow .5s ease-in;
    text-decoration: none;
    font-size:2rem;
    box-shadow: 0 0 5px rgba(0,0,0,0.6); 
    border-radius:20px;
    margin-top:10px;
    padding:1rem;
    color:black;
    background-color: rgb(224, 224, 224);
}

a:hover{
    text-shadow: 0 0 2px black;
    font-weight:bold;
}


