
div.mainmenu{
    margin:0;
    padding:0;
    height:100%;
    margin-left:15%;
    color:white;
    display:flex;
    flex-direction:column;
    align-items: center;
}

.mainmenu div#title{
    font-size:10vw;
    font-weight:bold;
}

.mainmenu div#second_title{
    font-size:2vw;
    color:white;
}

.mainmenu div#second_title a{
    text-decoration: none;
    color:white;
    display:flex;
    align-content:center;
}


.mainmenu div#second_title a:hover{
    font-weight:bold;
}

.mainmenu div#third_title{
    font-size:2vw;
    height:10%;
    margin-top:0.5vw;
}

.mainmenu div#third_title a#contribution{
    text-decoration:none;
    color:white;
}

.mainmenu div#third_title a#contribution:hover{
    font-weight:bold;
}

#lampada{
    height:25vw;
    width:50vw;
    margin-top:3vw;
    display:grid;
    grid-template-rows:repeat(2,1fr);
    grid-template-columns:repeat(3,1fr);

}

#lampada div{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align:center;
}

#lampada #imagelampada{
    margin-left:1vw;
    margin-top:4vw;
}

#lampada #imagelampada:hover + #transforma + #iniciativa + #pilares + #covid {
    visibility: visible;
    opacity: 1;
}

#lampada #imagelampada:hover + #transforma + #iniciativa +#pilares {
    visibility: visible;
    opacity: 1;
}

#lampada #imagelampada:hover + #transforma + #iniciativa {
    visibility: visible;
    opacity: 1;
}

#lampada #imagelampada:hover + #transforma {
    visibility: visible;
    opacity: 1;
}

#lampada #transforma{
    grid-column:1/2;
    grid-row:1/2;
    margin-bottom:12vw;
}

#lampada div:not(#imagelampada){
    border:2px solid;
    background-color:green;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 1s linear;
}

#lampada #iniciativa{
    margin-bottom:12vw;
}

#lampada #covid{
    grid-column: 3/4;
}


#lampada a{
    color:white;
    text-decoration: none;
    font-size:2vw;
}

img{
    width:10vw;
}

